.main-header__container {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    margin-bottom: 53px;
  }
}

.main-header__logo {
  margin-right: auto;
  display: inline-block;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
  }
}

.main-header__logo img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// Burger
.main-header__toggle {
  position: absolute;
  right: 0;
  top: -30px;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 1px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation {
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 70%;
  }

  @media (min-width: $desktop-width) {
    max-width: 48%;
  }
}

// Menu close cross
.main-header__navigation--opened .main-header__toggle {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: none;
    transform: rotate(-45deg);
  }
}

.main-header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -20px;
    top: 12px;
    width: calc(100% + 40px);
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 36px;
    align-items: start;
  }
}

.main-header__navigation--closed .main-header__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-header__navigation--opened .main-header__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.main-header__navigation--nojs .main-header__list {
  @media (max-width: $mobile-width-only){
    position: static;
    display: block;
    margin-left: -20px;
    margin-top: 13px;
  }
}

.main-header__navigation--nojs .main-header__toggle {
  display: none;
}

.main-header__item {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    box-shadow: inset 0 -1px #e6e6e6;

    // menu lines
    &:first-child {
      box-shadow: inset 0 1px #e6e6e6, inset 0 -1px #e6e6e6;
    }
  }
}

.main-header__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 22px;
  padding: 0 10px 24px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    padding: 0 0 10px;
    max-width: 168px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
    padding: 0 0 7px;
    max-width: 170px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__link--selected {
  @media (min-width: $tablet-width) {
    box-shadow: inset 0 -2px #68b738;
  }
}

.main-header__link--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-header__link--selected.main-header__link--index {
  @media (min-width: $desktop-width) {
    box-shadow: inset 0 -2px #ffffff;
  }
}
