.container {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    max-width: $desktop-width;
    box-sizing: border-box;
  }
}
