// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Fonts

$general-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

// Colors

$white: #ffffff;
$green: #68b738;
$dark-green: #5eaa2f;
$black: #000000;
$dark-grey: #444444;
$grey: #d9d9d9;

// General

html {
  //Sticky footer
  height: 100%;
}

body {
  min-width: 320px;
  max-width: 1440px;
  font-family: $general-font;
  //Sticky footer
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}
