.catalog-hero {
  box-shadow: inset 0 -1px #ebebeb;

  @media (max-width: $mobile-width-only) {
    margin: 0 0 20px;
    padding: 0 20px 41px;
  }

  @media (min-width: $tablet-width) {
    box-shadow: none;
    margin-bottom: 40px;
  }
}

.catalog-hero__title {
  margin: 28px 0 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
