.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkbox__label {
  line-height: 18px;
  cursor: pointer;
  position: relative;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 14px;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url("../img/main/checkbox/checkbox-icon.svg");
}

.checkbox__mark {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: -3px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -6px;
  }
}
