.example {
  padding: 25px 19px 25px 21px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 44px;
    padding-left: 31px;
    padding-right: 30px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 61.5%;
      background-color: $white;
      top: 1px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 51px;

    &::before {
      height: 186px;
    }
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 640px;
  }
}

.example__title {
  margin: 0 0 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin: 0 0 146px;
  }
}

.example__text {
  margin: 0 0 19px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 432px;
    margin: 0 0 68px;
    grid-column: 1 / 2;
  }
}

.example__total-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 186px;
    gap: 20px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1 / 2;
    display: block;
  }
}

.example__list {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 0 19px;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px;
  }
}

.example__list-wrapper {
  width: 124px;
  display: flex;
  justify-content: start;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__term {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  align-self: center;
  width: 85px;
  text-transform: lowercase;
  color: $dark-grey;
  background-color: #eaeaea;
  margin-top: -9px;
  padding: 0 2px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    width: unset;
    max-width: 128px;
    padding: 0 10px;
    box-sizing: content-box;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__description {
  margin: 0;
  padding: 13px 15px 17px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 15px 18px;
  }
}

.example__total-list {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    margin-top: 7px;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: row;
    max-width: 450px;
    gap: 65px;
    align-items: start;
  }
}

.example__total-description {
  max-width: 120px;

  @media (min-width: $tablet-width) {
    max-width: 180px;
  }
}

.example__total-price {
  margin: 0;
  max-width: 120px;

  @media (min-width: $tablet-width) {
    max-width: 180px;
  }
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}

.example__image {
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__image--before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.example__image--after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.example__slider-control {
  position: absolute;
  width: 4px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #666666;
  top: 0;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-2px);
  cursor: pointer;
  color: #666666;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid #666666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.example__slider-control:hover {
  background-color: $green;
  color: $green;

  &::before {
    border-color: $green
  }
}

.example__slider-control:active {
  opacity: 0.6;
  background-color: $green;
  color: $green;

  &::before {
    border-color: $green
  }
}

.example__slider-control-icon {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
