.example {
  padding: 25px 19px 25px 21px;
  background-color: #eaeaea;
}

.example__title {
  margin: 0 0 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0 0 19px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Arial", sans-serif;
}

.example__list {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 0 19px;
}

.example__list-wrapper {
  width: 124px;
  display: flex;
  justify-content: start;
  flex-direction: column-reverse;
}

.example__term {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  align-self: center;
  width: 85px;
  text-transform: lowercase;
  color: $dark-grey;
  background-color: #eaeaea;
  margin-top: -9px;
  padding: 0 2px;
  box-sizing: border-box;
}

.example__description {
  margin: 0;
  padding: 13px 15px 17px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__total {
  margin: 0 auto 20px;
  width: 186px;
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
}

.example__image {
  position: absolute;
  top: 0;
  left: 0;
}

.example__image--before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.example__image--after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.example__slider-control {
  position: absolute;
  width: 4px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #666666;
  top: 0;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-2px);

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid #666666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.example__slider-control-icon {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
