.form-hero {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px
  }
}

.form-hero__title {
  margin: 0 0 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.form-hero__description {
  margin: 0 0 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 330px;
    margin-bottom: 67px;
  }
}
