.form-hero {
  margin-top: 28px;
}

.form-hero__title {
  margin: 0 0 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form-hero__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 230px;
}
