.hero {
  position: relative;
  text-align: center;
  color: $white;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 0;
  }

  //index background mobile
  @media (max-width: $mobile-width-only) {

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 302px;
      background: linear-gradient( rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85)100%);
      right: 0;
      top: 0;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 100%;
      height: 302px;
      background-image: url("../img/main/hero/index-background-mobile.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #4f4e53;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main/hero/index-background-mobile@2x.jpg");
        background-size: 320px auto;
      }
    }
  }
}

.hero__container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 59px;
    margin-left: 118px;
    min-height: 813px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin: 53px auto 0;
    min-height: 553px;
    position: relative;
  }
}

.hero img {
  display: block;
  margin: 0 auto 3px;
  width: 100%;
  max-width: 280px;
  height: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    min-width: 709px;
    height: 609px;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    left: unset;
    transform: unset;
    right: 252px;
    top: -82px;
    width: 552px;
    height: 499px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto 25px;
  max-width: 250px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 42px 0;
    max-width: 425px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.hero__slogan {
  margin: 0 0 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.hero__button {
  width: 100%;
  padding: 11px 12px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    margin-left: 3px;
    padding: 17px 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &:hover {
    background-color: $dark-green;
  }

  &:active {
  color: rgba($white, 0.3);
}
}
