.inner-main-header {
  position: relative;
  text-align: center;
  color: $white;
  padding: 27px 20px 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 59px 117px 529px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 790px 529px 189px;
  }

  //index background mobile
  @media (max-width: $mobile-width-only) {

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 302px;
      background: linear-gradient( rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85)100%);
      right: 0;
      top: 0;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 100%;
      height: 302px;
      background-image: url("../img/main/inner-main-header/index-background-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
    }
  }
}

.inner-main-header img {
  display: block;
  margin-bottom: 3px;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    min-width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    left: unset;
    right: 252px;
    top: -29px;
    width: 552px;
    height: 499px;
  }
}

.inner-main-header__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.inner-main-header__slogan {
  margin: 0 0 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 3px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.inner-main-header__button {
  width: 100%;
  padding: 11px 12px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    margin-left: 4px;
    padding: 17px 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &:hover {
    background-color: $dark-green;
  }

  &:active {
  color: rgba($white, 0.3);
}
}
