.location {
  line-height: 20px;

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.location__container {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin: 0 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location__wrapper {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 198px;
    box-sizing: border-box;
    background-color: $white;
    position: absolute;
    top: 96px;
    left: 40px;
    margin: 0;
    padding: 20px 2px 20px 80px;
    align-items: center;
    gap: 15px;
  }
}

.location__slogan {
  margin: 0;
  text-transform: uppercase;
  max-width: 150px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 230px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.location__address {
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-grey;
  font-style: normal;
  font-size: 14px;
  justify-self: end;
  max-width: 165px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    justify-self: unset;
    margin-top: -8px;
  }
}

.location__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.location__city {
  margin: 0;
}

.location iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location noscript {
  display: block;
  margin: 0 auto;
}
