.main {
  //sticky footer
  flex-grow: 1;

  @media (max-width: $mobile-width-only) {
    box-shadow: inset 0 1px #d9d9d9;
  }
}

.main--index {
  box-shadow: none;

  //index background desktop
  @media (min-width: $desktop-width) {

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 694px;
      background: linear-gradient( rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85)100%), url("../img/main/hero/index-background-desktop.jpg") no-repeat #444444;
      right: 0;
      top: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient( rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85)100%), url("../img/main/hero/index-background-desktop@2x.jpg") ;
        background-size: 1044px auto;
      }
    }
  }
}
