.principle-description {
  margin: 0 22px 49px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 108px;
  }
}

.principle-description__title {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
    margin-left: 2px;
    font-size: 60px;
    line-height: 60px;
  }
}

.principle-description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 78px;
  }
}

.principle-description__item {
  position: relative;
  min-height: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 111px 76px 74px 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      width: 80px;
      height: 80px;
      left: 10px;
      top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 111px 0 74px 0;
  }
}

.principle-description__item--leaf::after {
  background-image: url("../img/main/principle-description/leaf.svg");
}

.principle-description__item--wash::after {
  background-image: url("../img/main/principle-description/wash.svg");
}
.principle-description__item--food::after {
  background-image: url("../img/main/principle-description/food.svg");
}
.principle-description__item--weight::after {
  background-image: url("../img/main/principle-description/weight.svg");
}

.principle-description__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    position: absolute;
    z-index: -1;
    top: -41px;
    left: 116px;
    max-width: 134px;
    overflow: hidden;
    letter-spacing: 18px;
  }
}

.principle-description__content {
  margin: 2px 0 0 80px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
