.product__container {
  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 67px 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 79px;
  }
}

.product__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  box-shadow: inset 0 -1px #ebebeb;
  padding: 0 20px 25px;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 76px, rgba(255,255,255,0) 0);
    padding: 0 40px 38px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 92px, rgba(255,255,255,0) 0);
  }
}

.product__image-link {
  grid-column: 1 / 2;
  grid-row: span 2;
  height: 105px;
  display: flex;
  align-items: end;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 206px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    height: 208px;
    margin-bottom: 48px;
  }
}

.product__image-link img {
  display: block;

  @media (min-width: $tablet-width) {
    height: unset;
    width: unset;
  }
}

.product__title-link {
  grid-column: 2 / 3;
  text-decoration: none;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-bottom: 20px;
  }
}

.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  max-width: 98px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 158px;
    text-align: center;
  }
}

.product__characteristics {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 7px;
  }
}

.product__characteristics-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 -1px #cdcdcd;
    padding-bottom: 9px;
    margin-bottom: 7px;
  }
}

.product__description {
  margin: 0;
  justify-self: end;
}

.product__buy-button {
  margin-top: 19px;
  grid-column: 1 / 3;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 20px;
}

.product__item--show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    margin-top: 74px;
  }
}

.product__item--show-more svg {
  margin-top: 5px;
  margin-bottom: 23px;
  stroke-width: 2px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    stroke-width: 1px;
    margin-top: 51px;
    margin-bottom: 48px;
  }
}

.product__show-more-words {
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 9px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 134px;
    margin-bottom: 23px;
  }
}

.product__additional-info {
  margin: 0 0 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
    margin-bottom: 86px;
  }
}

.product__last-button {
  font-size: 16px;
  line-height: 20px;
  align-self: stretch;
  padding: 10px 20px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(#444444, 0.3);
  }
}
