.program-selection {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.program-selection__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0 110px;
    gap: 80px;
    flex-wrap: wrap;
  }
}

.program-selection__item {
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
  background-position: 23px 21px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-left: 53px;
    padding-bottom: 57px;
    background-position: top 79px right 62px;
    background-size: 198px 207px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 570px;
    padding-top: 77px;
    padding-right: 26px;
    background-position: 52px 41px;
    background-size: 100px 105px;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

.program-selection__item--weight-loss {
  background-image: url("../img/main/program-selection/weight-loss.svg");
}

.program-selection__item--weight-gain {
  background-image: url("../img/main/program-selection/weight-gain.svg");
  background-position: 14px 24px;

  @media (min-width: $tablet-width) {
    background-position: top 89px right 28px;
    background-size: 267px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 34px 46px;
    background-size: 133px 100px;
  }
}

.program-selection__title {
  margin: 0 0 29px 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-bottom: 73px;
  }
}

.program-selection__description {
  margin: 0 0 15px 0;
  color: $dark-grey;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-bottom: 23px;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 16px;
    line-height: 24px;
    max-width: 335px;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: unset;
    margin-bottom: 28px;
  }
}

.program-selection__link {
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  display: inline-flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__link-arrow {
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    margin-left: 31px;
    margin-top: -6px;
  }
}

.program-selection__arrow-icon {
  transform: translateX(-5px);
  transition: transform 0.4s;
}

.program-selection__link:hover .program-selection__arrow-icon {
  transform: translateX(0) scaleX(1.3);
}

.program-selection__link:active {
  opacity: 0.3;
}

.program-selection__link:active .program-selection__arrow-icon {
  transform: translateX(0) scaleX(1.3);
}
